section {
    background-image: url("/img/security-gate.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    margin: auto;
    width: 1200px;
    height: 540px;
}

#login-form {
    background-color: red;
    width: 200px;
    /*margin-left: 570px;*/
    /*margin-top: 320px;*/
    /*position: fixed;*/
    left: 31%;
    top: 38%;
    position: relative;
}

#sign-in {
    background-color: yellow;
    color: black;
    text-align: center;
}

#userInput {
    text-align: center;
}


#submit {
    margin: auto;
    display: block;
}